<!-- Nav Container -->
<header>
  <mz-navbar class="hide-on-large-only" [navbarClass]="'red darken-4'">
    <a href="#" class="brand-logo">Raghu Chagarlamudi</a>
    <i mz-icon [align]="'right'" [icon]="'view_headlines'" [size]="'large'" id="btn-sidenav-demo"></i>
  </mz-navbar>
  <mz-sidenav [id]="'sidenav-demo'" [collapseButtonId]="'btn-sidenav-demo'" [fixed]=true>
    <mz-sidenav-header>
      <mz-card class="card-panel red darken-1 white-text sidnavcard" [hoverable]="true">
        <mz-card-title>
          Raghu Chagarlamudi
        </mz-card-title>
        <mz-card-content>
          Front End Web Developer
        </mz-card-content>
      </mz-card>
    </mz-sidenav-header>
    <mz-sidenav-link [active]="true" class="solid">
      <a href="#" class="active">
        <i mz-icon [icon]="'person'" [size]="'small'"></i>
        About
      </a>
    </mz-sidenav-link>

    <mz-sidenav-link class="solid">
      <a href="#">
        <i mz-icon [icon]="'trending_up'" [size]="'small'"></i>
        Experience</a>
    </mz-sidenav-link>

    <mz-sidenav-link class="solid">
      <a href="#">
        <i mz-icon [icon]="'equalizer'" [size]="'small'"></i>
        Skills</a>
    </mz-sidenav-link>

    <mz-sidenav-link class="solid">
      <a href="#">
        <i mz-icon [icon]="'school'" [size]="'small'"></i>
        Education</a>
    </mz-sidenav-link>

    <mz-sidenav-link class="solid">
      <a href="#" class="waves-effect">
        <i mz-icon [icon]="'contact_phone'" [size]="'small'"></i>
        Contact</a>
    </mz-sidenav-link>
  </mz-sidenav>
</header>


<!-- Main Content -->
<main>
  <div class="container">
    <div class="row" id="home">
      <div class="col  l12 s12 m8">
        <blockquote class="flow-text quote">Digital design is like painting, except the paint never dries.</blockquote>
      </div>
    </div>
    <div class="row">
      <div class="col l8 offset-l7 s6 offset-s3">
        <img src="assets/images/StockSnap.jpg" height="150px" width="150px" alt="StockSnap" class="circle">
      </div>
    </div>
    <div class="row">
      <div class="col l8 offset-l5 s12 m12">
        <p class="flow-text intro">Hi, my name is Raghu. I'm a Designer / Front End Developer living in Columbus, OH.</p>
        <p class="intro2">Passionate about learning and building delightful and scalable web applications.</p>
      </div>
    </div>
    <div class="row">
      <div class="col l8 offset-l5 s12 m7">
        <div class="card horizontal">
          <div class="card-stacked">
            <div class="card-content">
              <div class="center-align banner">
                <app-ad-banner [ads]="ads"></app-ad-banner>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col l8 offset-l8 s4  offset-s4 m7">
        <button mz-button (click)="bottomSheetModal.open()" class="white">
          <span class="about">About</span>
        </button>

        <mz-modal #bottomSheetModal [fixedFooter]="true" [bottomSheet]="true">
          <mz-modal-header>
            About
          </mz-modal-header>
          <mz-modal-content>
            <blockquote>Mission-driven full stack developer with a passion for thoughtful UI design and front end development.</blockquote>
            <p> I’ve always sought out opportunities and challenges that are meaningful to me. Although my professional path
              has taken many twists and turns — from code noob, to building scalable and smooth functional websites. — I've never stopped engaging my passion
              to learn, code, help others and solve problems. As a web developer, I enjoy using my obsessive attention to detail, my unequivocal
              love for making things, and my mission-driven work ethic to literally change the world. That's why I’m excited
              to make a big impact at a high growth company.</p>
            <p>
              <span class="about2">I want to make things that make a difference.</span>
            </p>
          </mz-modal-content>
          <mz-modal-footer>
            <button mz-button [flat]="true" mz-modal-close class="red darken-1 close">Close</button>
          </mz-modal-footer>
        </mz-modal>
      </div>
    </div>
    <div class="row">
      <div class="col l4 offset-l8 s4 offset-s4 m7">
        <button mz-button (click)="showToast()" class="btn-floating teal accent-4 announc pulse">
          <i class="material-icons">announcement</i>
        </button>
      </div>
    </div>
  </div>
</main>